<h3>All your post here</h3>

<div class="flex-container">
  <% @posts.each do |post| %>
    <div class="single_post">
      ~<%= User.find(post.user_id).name %> <br>
      <a href="posts/<%=post.id%>">
        <%= image_tag(post.photo.url) %>
      </a>
      <br>
      <%= post.caption %>
    </div>
  <% end %>
</div>
